._3MqAN7tezej4SSAbTmSEU0 {
  padding-bottom: 10px;
}
._2A9JiSIm3an8uWVyKeaP9N {
  font-family: 'Droid Serif', serif;
  color: #b7b8f7;
  font-size: 80px;
}
._2qUWYN3yxUrcdowGt6joVI {
  font-family: 'Droid Serif', serif;
  color: #4f51a5;
  font-size: 14px;
}
._2FE2Ol8dGrN-YlQ4B4fd40 {
  background-color: #f7f7f7;
  padding: 10px;
}
._1UYsC4Q4wuI--I2w_n8tTu {
  max-width: 800px;
}
._3D06YYwDNmc2ooYT5_dCWC {
  font-family: 'Droid Sans', sans-serif;
  color: #080808;
  font-size: 10px;
  margin-bottom: 5px;
}
.hSZe1bqmwF-ZnAOw2pBA8 {
  font-family: 'Droid Sans', sans-serif;
  color: #080808;
  font-size: 14px;
}
.hSZe1bqmwF-ZnAOw2pBA8 pre {
  background-color: #ffffff;
  border: solid 1px #e8e7ae;
  padding: 10px;
  margin: 0;
  margin-bottom: 15px;
  overflow: auto;
}
.hSZe1bqmwF-ZnAOw2pBA8 code {
  font-family: 'Droid Sans Mono', monospace;
  color: #080808;
  font-size: 12px;
}
.hSZe1bqmwF-ZnAOw2pBA8 h1 {
  font-family: 'Droid Serif', serif;
  color: #a5a34f;
  font-size: 30px;
  margin: 0;
  margin-bottom: 15px;
}
.hSZe1bqmwF-ZnAOw2pBA8 h2,
.hSZe1bqmwF-ZnAOw2pBA8 h3,
.hSZe1bqmwF-ZnAOw2pBA8 h4,
.hSZe1bqmwF-ZnAOw2pBA8 h5,
.hSZe1bqmwF-ZnAOw2pBA8 h6 {
  font-family: 'Droid Serif', serif;
  color: #e8e7ae;
  font-size: 22px;
  margin: 0;
  margin-bottom: 15px;
}
.hSZe1bqmwF-ZnAOw2pBA8 a,
.hSZe1bqmwF-ZnAOw2pBA8 a * {
  color: #a5a34f;
}
.hSZe1bqmwF-ZnAOw2pBA8 a:hover,
.hSZe1bqmwF-ZnAOw2pBA8 a:hover * {
  color: #e8e7ae;
}
.hSZe1bqmwF-ZnAOw2pBA8 p {
  margin: 0;
  margin-bottom: 15px;
}
.hSZe1bqmwF-ZnAOw2pBA8 p > code {
  color: #4f51a5;
}
.hSZe1bqmwF-ZnAOw2pBA8 ul,
.hSZe1bqmwF-ZnAOw2pBA8 ol {
  margin: 0;
  margin-bottom: 15px;
}
.hSZe1bqmwF-ZnAOw2pBA8 ul > li,
.hSZe1bqmwF-ZnAOw2pBA8 ol > li {
  margin-bottom: 10px;
}
