._3MqAN7tezej4SSAbTmSEU0 {
  font-family: 'Droid Serif', serif;
  color: #b7b8f7;
  font-size: 80px;
  display: block;
  text-decoration: none;
}
._3NBQDzWvArAWvh57JirlED {
  font-family: 'Droid Sans', sans-serif;
  color: #4f51a5;
  font-size: 14px;
}
html {
  background-color: #f7f7f7;
}
._2FE2Ol8dGrN-YlQ4B4fd40 {
  padding: 10px;
}
._2dNU0UjwUQ5PSy4ZPYMhir > * {
  margin-bottom: 30px;
}
._3VsiRofGuWR73_fOfHb0RE {
  max-width: 800px;
}
._3uxHLI_NTcR3_FAO-2OItJ {
  font-family: 'Droid Sans', sans-serif;
  color: #080808;
  font-size: 10px;
  margin-bottom: 5px;
}
._34oSE90yaq6CDdZ4hqdJXz {
  font-family: 'Droid Sans', sans-serif;
  color: #080808;
  font-size: 14px;
}
._34oSE90yaq6CDdZ4hqdJXz pre {
  background-color: #ffffff;
  border: solid 1px #e8e7ae;
  padding: 10px;
  margin: 0;
  margin-bottom: 15px;
  overflow: auto;
}
._34oSE90yaq6CDdZ4hqdJXz code {
  font-family: 'Droid Sans Mono', monospace;
  color: #080808;
  font-size: 12px;
}
._34oSE90yaq6CDdZ4hqdJXz h1,
._34oSE90yaq6CDdZ4hqdJXz h2,
._34oSE90yaq6CDdZ4hqdJXz h3,
._34oSE90yaq6CDdZ4hqdJXz h4,
._34oSE90yaq6CDdZ4hqdJXz h5,
._34oSE90yaq6CDdZ4hqdJXz h6 {
  font-family: 'Droid Serif', serif;
  color: #e8e7ae;
  font-size: 22px;
  margin: 0;
  margin-bottom: 15px;
}
._34oSE90yaq6CDdZ4hqdJXz a,
._34oSE90yaq6CDdZ4hqdJXz a * {
  color: #a5a34f;
}
._34oSE90yaq6CDdZ4hqdJXz a:hover,
._34oSE90yaq6CDdZ4hqdJXz a:hover * {
  color: #e8e7ae;
}
._34oSE90yaq6CDdZ4hqdJXz p {
  margin: 0;
  margin-bottom: 15px;
}
._34oSE90yaq6CDdZ4hqdJXz p > code {
  color: #4f51a5;
}
._34oSE90yaq6CDdZ4hqdJXz ul,
._34oSE90yaq6CDdZ4hqdJXz ol {
  margin: 0;
  margin-bottom: 15px;
}
._34oSE90yaq6CDdZ4hqdJXz ul > li,
._34oSE90yaq6CDdZ4hqdJXz ol > li {
  margin-bottom: 10px;
}
._2MgbiExJ9FgKVVMx-qz-kl {
  display: inline-block;
  font-family: 'Droid Serif', serif;
  color: #a5a34f;
  font-size: 30px;
  margin: 0;
  margin-bottom: 15px;
}
